<link href="https://fonts.googleapis.com/css?family=Lora:400,700%7CZCOOL+XiaoWei" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet"> 

<style>
    p a{
    color: blue;
    text-decoration: none;
    cursor: pointer;
}
  </style>

